{% extends './s_profile.html' %}
{% block content %}
    <h2>Reset Your Password</h2>

    <!-- Display any messages (errors or success) -->
    {% if messages %}
        {% for message in messages %}
            <p><b>{{ message }}</b></p>
        {% endfor %}
    {% endif %}

    <p>Username: {{ username }}</p>
    
    <!-- Password reset form -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="search-button" type="submit">Update Password</button>
    </form>
{% endblock %}
